@import './base.css';
@import './reset.css';
@import './transitions.css';
/*
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+VIC:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Playwrite+AU+VIC:wght@100..400&display=swap');
*/

#app {
  /* max-width: 1280px; */
  font-weight: normal;
}

.highlighted-section {
  color: var(--primary-color-1);
  background-color: var(--primary-color-2);
}

.highlighted-section h2 {
  font-weight: bold;
}


/* Inputs */
input {
  accent-color: var(--secondary-color-1);
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
  padding: var(--padding-normal);
  border: none;
  border-radius: 0.2rem;
  background-color: var(--color-background);
  outline: 2px solid transparent;
  transition: outline-color var(--transition-slow);
}

input[type="number"] {
  max-width: 7rem;
}

input:focus-within {
  outline-color: var(--secondary-color-1);
}

input,
button {
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

/* h1, h2, button {
  font-family: 'Playwrite AU VIC', sans-serif;
} */

/* Buttons */
button {
  padding: var(--padding-normal);
  border: none;
  border-radius: 0.2rem;
  /* background-color: var(--secondary-color-1); */
  /* color: var(--color-background); */
  font-weight: bold;
  cursor: pointer;
  transition:
    background-color var(--transition-slow),
    box-shadow var(--transition-slow),
    border-color var(--transition-slow),
    color var(--transition-slow),
    filter var(--transition-slow);
}

/* Button colors */
.button-primary {
  --color-button: var(--secondary-color-1);
}

.button-secondary,
.button-tertiary {
  --color-button: var(--primary-color-1);
}

/* Button states, from most discreet to strongest */
.button-tertiary {
  background-color: transparent;
  color: var(--color-button);
  border: 1px solid transparent;
  padding: var(--padding-small);
}

.button-secondary,
.button-tertiary:hover {
  background-color: transparent;
  color: var(--color-button);
  border: 1px solid var(--color-button);
  /* padding: var(--padding-small); */
}

.button-primary,
.button-secondary:hover,
.button-tertiary:active {
  background-color: var(--color-button);
  color: var(--color-background);
  box-shadow: var(--box-shadow-small);
}

.button-primary:hover,
.button-secondary:active {
  filter: brightness(1.1);
}

.button-primary:active {
  filter: brightness(1.2);
}

/* Button types */
.button-icon {
  aspect-ratio: 1;
  border-radius: 50%;
}

.button-icon.button-secondary {
  border-radius: 4px;
}

.button-small {
  padding: var(--padding-smaller);
}

/* Other */
h1 {
  font-weight: bold;
}


a {
  transition: opacity var(--transition-fast), color var(--transition-fast);
  color: var(--secondary-color-1);
}

a.discreet-anchor,
a.semi-discreet-anchor {
  color: unset;
  text-decoration: unset;
  cursor: pointer;
}

a.semi-discreet-anchor:hover,
a.semi-discreet-anchor:active {
  color: var(--secondary-color-1);
}

a.disabled,
button.disabled,
.disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
}

/**/


.gate-page-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 2rem;
}

.gate-page-header>*:first-child {
  flex-shrink: 0;
}

.icon-entry {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.icon-entry svg,
.icon-entry input {
  flex-shrink: 0;
}